# Python bytecode
*.pyc
__pycache__/
*.pyo
*.pyd

# Flask
instance/
.webassets-cache

# Vercel
.vercel/
.vercel_build_output/

# Environment Variables
.env
.env.local
.env.*.local

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Distribution / packaging
build/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Other
*.bak
*.swp
